/* SIMILAR: CONTENIDO */
.container-progress {
  width: 600px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(33.33% - 25.33px);
}
.item-progress:last-child {
  width: 76px;
}
.round-progress {
  width: 76px;
  min-width: 76px;
  height: 76px;
  background-color: var(--color-white);
  color: var(--color-blue-dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.round-progress img {
  width: 30px;
}
/* .left-negative {
  margin-left: -38px;
} */
.line-progress {
  background-color: var(--color-secondary);
  height: 60px;
  min-width: 100%;
  display: inline-block;
  margin-left: -38px;
}

/* active progress */
.item-progress.active .round-progress::before {
  content: "";
  width: 76px;
  height: 76px;
  display: block;
  background-color: var(--color-primary);
  border-radius: 50%;
  position: absolute;
}
.item-progress.active .round-progress::after {
  content: "";
  background-image: url("../img/portal/iconos/check.svg");
  width: 37px;
  height: 29px;
  position: absolute;
}
.item-progress.active:last-child .round-progress::before,
.item-progress.active:last-child .round-progress::after {
  display: none;
}
.item-progress.active .line-progress {
  background-color: var(--color-primary);
}

/* responsive: active progress */
@media (max-width: 768px) {
  body {
    padding-bottom: 63px;
    padding-top: 70px;
  }
  .container-progress {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
    z-index: 998;
    padding: 3px;
    margin: 0;
    border-top: 1px solid #cbcbcb;
  }
  .round-progress {
    width: 56px;
    min-width: 56px;
    height: 56px;
  }
  .item-progress {
    width: calc(33.33% - 18.66px);
  }
  /* .item-progress:nth-child(2) {
    width: 56px;
  } */
  .item-progress:last-child {
    width: 56px;
  }
  .round-progress img {
    width: 20px;
  }
  .left-negative {
    margin-left: -18px;
  }
  .line-progress {
    height: 40px;
    /* margin-left: -18px; */
  }
  .item-progress.active .round-progress::before {
    width: 56px;
    height: 56px;
  }
  .item-progress.active .round-progress::after {
    width: 27px;
    height: 19px;
    background-size: cover;
  }
  .ctn {
    margin: auto;
  }
}

/* Pasos */
.step {
  background: var(--color-white);
  border-radius: 8px;
  padding: 35px 50px;
  font-family: var(--font-secondary);
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  display: none;
}
.step.active {
  display: block;
}
.step .titulo {
  color: var(--color-primary);
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
}
.step h3 {
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  color: var(--color-secondary-dark);
  margin-top: 15px;
}
.step h3 span {
  color: var(--color-primary);
}
.step .pregunta {
  text-align: center;
  font-family: var(--font-secondary);
  font-style: italic;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-secondary-dark);
  margin-top: 5px;
}
.step .desc {
  margin-top: 22px;
  font-family: var(--font-secondary);
  font-style: italic;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-secondary-dark);
  margin-bottom: 30px;
}
.tab {
  margin-left: 45px;
}
.tipo-opciones {
  font-family: var(--font-secondary);
  font-size: 16px;
  line-height: 19px;
  color: var(--color-secondary-dark);
  margin-top: 40px;
}
.tipo-opciones > div {
  margin-bottom: 15px;
}
.tipo-opciones input {
  margin-right: 15px;
}

/* input radio */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: var(--color-secondary-dark);
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 15px;
  height: 15px;
  border: 1px solid var(--color-primary);
  border-radius: 100%;
  background: var(--color-white);
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 11px;
  height: 11px;
  background: var(--color-primary);
  position: absolute;
  top: 6px;
  left: 2px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* botones */
.container-botones {
  margin-top: 50px;
  display: flex;
}
.container-botones button {
  width: 160px;
  height: 39px;
  font-family: var(--font-secondary);
  font-style: italic;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-white);
  background: var(--color-grey-medium);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: 0;
  margin-right: 22px;
  /* transition: 0.3s ease-out; */
}
.container-botones button.btn-next {
  background: radial-gradient(148.63% 2029.93% at 91.76% 59.42%, var(--color-primary) 0%, #d8eef1 100%);
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container-botones button:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  background: var(--color-grey-hight);
}
.container-botones button.btn-next:hover {
  background: var(--color-primary);
}
#step-2 .container-botones {
  margin-top: 10px;
}
/* formulario */
.form-step {
  width: 100%;
  max-width: 600px;
}
.form-step-col-3 input,
.form-step input {
  border: 0;
  border-bottom: 1px solid var(--color-grey-hight);
  padding: 1px 3px;
  font-size: 18px;
  line-height: 20px;
  width: 100%;
  max-width: 250px;
  margin-right: 20px;
  outline: 0 !important;
  border-radius: 0;
  color: var(--color-blue-dark);
}
.form-step input:hover,
.form-step input:focus,
.form-step input:active,
.form-step-col-3 input:hover,
.form-step-col-3 input:focus,
.form-step-col-3 input:active {
  border-bottom: 1px solid var(--color-primary);
}
.form-step-col-3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.form-step-col-3 input {
  min-width: 155px;
  width: auto;
  margin-bottom: 40px;
}

.row {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
}
.col {
  width: 50%;
  display: inline-block;
}

/* tabla */
.tabla-resumen {
  width: 100%;
  max-width: 500px;
  font-size: 16px;
}
.tabla-resumen table {
  border-collapse: separate;
  border-spacing: 1px;
}
.tabla-resumen table tr th {
  border: 0.5px solid var(--color-primary);
  padding: 5px 10px;
  background-color: var(--color-primary);
  color: var(--color-white);
  text-align: left;
  border-right: 0;
}
.tabla-resumen table tr td {
  border: 0.5px solid var(--color-primary);
  padding: 5px 10px;
  color: #000000;
}

/* Términos y condiciones */
.t-y-c {
  font-size: 16px;
  margin-top: 20px;
}
.t-y-c a {
  color: var(--color-primary);
}

/* checkbox */
.item-t-y-c label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 12px;
}
.item-t-y-c label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
}
.item-t-y-c label:hover input ~ .checkmark {
  background-color: var(--color-primary);
}
.item-t-y-c label input:checked ~ .checkmark {
  background-color: var(--color-primary);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.item-t-y-c label input:checked ~ .checkmark:after {
  display: block;
}
.item-t-y-c label .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid var(--color-white);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Responsive */
@media (max-width: 768px) {
  .step {
    padding: 15px;
  }
  .step .titulo {
    font-size: 22px;
  }
  .step h3 {
    font-size: 24px;
    line-height: 26px;
  }
  .step .pregunta {
    font-size: 13px;
    line-height: 16px;
  }
  .step .desc {
    font-size: 15px;
    margin-top: 13px;
    margin-bottom: 20px;
  }
  .tab {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-step input {
    font-size: 14px;
    max-width: 200px;
    margin-right: 0;
  }
  .tipo-opciones {
    font-size: 13px;
  }
  .col {
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
  }
  .row {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .container-botones {
    margin-top: 30px;
  }
  .container-botones button {
    font-size: 14px;
    width: 120px;
  }
  .tabla-resumen {
    font-size: 12px;
  }
  .form-step .row:last-child .col:last-child {
    margin-bottom: 0;
  }
}
