* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}
body {
  background: #e5e5e5;
  position: relative;
  padding-bottom: 60px;
}
/* Header */
.bg-header {
  background-image: url(imgs/fondo-portal-del-ciudadano.png);
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  position: relative;
}
.bg-header img {
  width: 100%;
  max-width: 500px;
}

/* Login */
.login {
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
  line-height: 19px;
  max-width: 300px;
  padding: 60px 30px 0;
}
.login p {
  position: absolute;
  right: 15px;
  top: 20px;
  /* right: -15px; */
}
.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 20px; */
}
.avatar img {
  height: 84px;
}

/* Título */
p.titulo {
  font-size: 25px;
  line-height: 29px;
  color: #314254;
  text-align: center;
  margin: 60px 20px;
}

/* Seccion */
section {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0 40px;
}

/* Opciones */
.opcion {
  width: 345px;
  transition: transform 0.2s;
  position: relative;
  margin-right: 30px;
  margin-bottom: 70px;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.2);
}
.opcion:last-child {
  margin-right: 0px;
}
.opcion__color {
  width: 345px;
  height: 230px;
  background: #60be7c;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.opcion__color img {
  height: 174px;
}
.opcion__contenido {
  padding: 10px 50px 110px;
  font-size: 15px;
  line-height: 18px;
  text-align: justify;
  color: #333333;
}
.opcion__contenido h3 {
  font-size: 17.9967px;
  line-height: 21px;
  color: #73ac84;
  text-align: center;
  margin-bottom: 10px;
}
.opcion__contenido p {
  font-size: 15px;
  line-height: 18px;
  text-align: justify;
  color: #333333;
}
.opcion__contenido div {
  position: absolute;
  bottom: 40px;
}
.opcion__contenido div a {
  display: block;
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: #73ac84;
}
/* Opciones:hover */
.opcion:hover {
  transform: scale(1.1);
}
.opcion:hover .opcion__color {
  background: #365c84;
}
.opcion:hover .opcion__contenido h3 {
  color: #314254;
}
.opcion:hover .opcion__contenido div a {
  color: #314254;
}

/* Footer */
footer {
  background-color: #292b31;
  padding: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
footer p {
  text-align: center;
  color: #e9ebee;
}

/* Responsive */
@media (max-width: 1200px) {
  section {
    margin: 0 60px;
  }
  .opcion {
    /* max-width: 320px; */
    margin-right: 0px;
  }
  .opcion:first-child {
    margin-right: 50px;
  }
}
@media (max-width: 1000px) {
  .login {
    width: 100%;
    max-width: initial;
    padding: 30px 30px 0;
  }
  .avatar {
    flex-direction: row;
    justify-content: flex-start;
  }
  .avatar img {
    height: 60px;
    margin-right: 12px;
  }
}

@media (max-width: 860px) {
  section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
  }
  p.titulo {
    margin: 40px 20px 30px;
    font-size: 20px;
  }
  #nombre_usuario {
    max-width: 120px;
  }
  .avatar img {
    height: 40px;
  }
  .login p {
    right: 15px;
    top: 15px;
  }
  .opcion {
    width: 100%;
    max-width: 300px;
    margin-bottom: 30px;
  }
  .opcion:first-child {
    margin-right: 0;
  }
  .opcion__color {
    max-width: 300px;
    width: 100%;
    height: 170px;
  }
  .opcion__color img {
    height: 100px;
  }
}
