<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/myreset.css">
    <link rel="stylesheet" href="../../css/design-tokens.css">
    <link rel="stylesheet" href="menu.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>MENU</title>
  </head>

  <body>
    <main class="main-proyect">

      <menu class="block block-tab">
        <menu-option>
          <button class="button button-tab ">
            <i class="material-icons button--is-icon">home</i>
            Inicio
            <i class="material-icons button--is-arrow">arrow_drop_down</i>
          </button>
        </menu-option>


        <menu-option class="menu-option-active">
          <button class="button button-tab">
            <i class="material-icons button--is-icon">pie_chart</i>
            Tabla
            <i class="material-icons button--is-arrow">arrow_drop_down</i>
          </button>
          <nav class="button-tab-content">
            <ul class="button-tab-content-ul">
              <li class="button-tab-content-li">
                <a href="javascript:void(0)" class="button-tab-content-a">Opción 1</a>
              </li>
              <li class="button-tab-content-li">
                <a href="javascript:void(0)" class="button-tab-content-a">Opción 2</a>
              </li>
              <li class="button-tab-content-li">
                <a href="javascript:void(0)" class="button-tab-content-a">Opción 3</a>
              </li>
              <li class="button-tab-content-li">
                <a href="javascript:void(0)" class="button-tab-content-a">Opción 4</a>
              </li>
              <li class="button-tab-content-li">
                <a href="javascript:void(0)" class="button-tab-content-a">Opción 5</a>
              </li>
            </ul>
          </nav>
        </menu-option>

        <menu-option>
          <button class="button button-tab">
            <i class="material-icons button--is-icon">calendar_today</i>
            Agenda
            <i class="material-icons button--is-arrow">arrow_drop_down</i>
          </button>
        </menu-option>
      </menu>



    </main>


  </body>

</html>